<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MWHackathon.Core.Properties.Settings.mwhackathonConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=mwhackathon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MWHackathon.Core.Properties.Settings.temp_oai_lukasConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=temp_oai_lukas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>